.navbar {
  padding-top: 0px;
  
  background-color: grey;
  border-color: grey;
  padding-right: 5px;
  padding-left: 0px;
  font-family: 'Merriweather Sans', sans-serif;

}

#navTitle {

  font-family: 'Merriweather Sans', sans-serif;

  


}


