/* #titulo {
  font-size: 30px;
} */

#tituloD {
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  /* font-weight: lighter; */
}
#titulo {
  font-family: 'Roboto Slab', serif;
  /* font-size: 30px; */
  /* font-weight: lighter; */
}
/* #titulo {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 30px;
} */
input {
  font-family: 'Roboto Slab', serif;
  /* font-size: 30px; */
  font-weight: lighter;
}
.btn {
  font-family: 'Roboto Slab', serif;
  /* font-size: 30px; */
  /* font-weigh÷t: lighter; */
}
.list-group {
  font-family: 'Roboto Slab', serif;
  /* font-size: 30px; */
  /* font-weigh÷t: lighter; */
  color: gray;
}
body {
  background-color: #a7a6a6;
}

.jumbotron{
padding-left: 0px;
padding-right: 60px;
}